<% form_tag :controller => "sessions", :action => "create", :method => :post do |f| -%>
<ul>
  <li>
    <label for="openid_url" >
      OpenID
    </label>
  </li>
  <li><%= text_field_tag :openid_url, {}, :class => "openid_url" -%></li>
  <li><%= submit_tag t("login", :scope => [:links]) -%></li>
</ul>
<% end -%>
