
<div id="forget-explain-body">
  <div id="logo">
    <%= image_tag("logo-beta.png", :alt => "logo") %>
  </div>

  <div class="explain">

<br/>
<br/>
<br/>

<h2><a name="label-1" id="label-1">人は忘れっぽい</a></h2><!-- RDLabel: "人は忘れっぽい" -->
<p>このサイトを説明する前に復習の大事さについて少し説明したいと思います。</p>
<p>心理学者のヘルマン・エビングハウスさんが「人間の記憶」について以下の様な実験を行いました。</p>
<p>実験内容</p>
<pre>子音・母音・子音」から成り立つ無意味な音節（rit,pek,tas...）を記憶し、
それをどの位の時間までどの程度覚えていられるか。</pre>
<p>そして、その実験の結果は驚くべきものでした。</p>
<p>結果</p>
<pre>20分後には、42%を忘却し、58%を覚えていた。
1時間後には、56%を忘却し、44%を覚えていた。
1日後には、74%を忘却し、26%を覚えていた。
1週間後には、77%を忘却し、23%を覚えていた。
1ヶ月後、には79%を忘却し、21%を覚えていた。 </pre>
<p><img src="/images/forget_graph.png" alt="Forget_Graph"/></p>
<p>なんと、たった1週間ほどで記憶した知識の77％は忘れてしまうそうです。</p>
<p>必死に本を読んで知識を得ても、たった一週間後にほとんど内容は頭の中から消えてしまう事になります。</p>

<h2><a name="label-2" id="label-2">でも覚える事はいっぱい</a></h2><!-- RDLabel: "でも覚える事はいっぱい" -->
<p>近年、Webの普及に伴って、多くの情報が身近に溢れています。</p>
<p>必死になって最新の情報を追いかけても、それを忘れてしまっては意味がありません。</p>
<p>情報過多な社会だからこそ、一つ一つ確実に自分の知識として情報を定着させる必要があります。</p>
<p>では、ある事柄をしっかりと自分の知識に定着する為にはどうすればよいでしょうか。</p>

<h2><a name="label-3" id="label-3">忘れないためには復習するべし！</a></h2><!-- RDLabel: "忘れないためには復習するべし！" -->
<p>物事を自分の記憶に定着させる為には「復習」が非常に大事になってきます。</p>
<p>1日後に復習をすると、その知識は一週間は維持されると言われています。</p>
<p>続いて1週間後に復習をすると、その知識は1ヶ月は維持されると言われています。</p>
<p>1ヶ月後に復習をすると、その知識は半年は維持されると言われています。</p>
<p>半年後に復習をすると、その知識は長期的な記憶となり、自分の電話番号くらいの身近な知識になるそうです。</p>

<h2><a name="label-4" id="label-4">絶対に復習したい</a></h2><!-- RDLabel: "絶対に復習したい" -->
<p>このサイトは堕落した私（作者）のような人間でも確実に復習できる事を目指しています。</p>
<p>このサイトでは自分が覚えたいトピックに関する復習内容を登録する事ができます。
登録する復習内容は自由です。</p>
<p>例えば、</p>
<ul>
<li>「reminder」という英単語の意味の復習</li>
<li>C言語アルゴリズム本の復習</li>
</ul>
<p>のようなものです。</p>
<p>なるべく自分が絶対に覚えたい項目を登録する方がいいでしょう。</p>
<p>そして、登録した復習内容は先ほど説明した、</p>
<ul>
<li>1日後</li>
<li>1週間後</li>
<li>1ヶ月後</li>
<li>半年後</li>
</ul>
<p>のタイミングでお知らせしてくれます。</p>
<p>それを知ったユーザは自分が登録した復習内容を遂行し、しっかりと記憶に定着できるという仕組みです。</p>

<h2><a name="label-5" id="label-5">便利な使い方</a></h2><!-- RDLabel: "便利な使い方" -->
<p>復習項目を新規登録する際に便利なブックマークレットです。</p>

<p>
  <a class="bookmarkleticon" href="javascript:window.open('<%= url_for(:only_path => false, :controller => :reminders, :action => :new, :mode => "confirm")-%>', '_blank', 'width=520,height=750,resizable=1,scrollbars=1');undefined;">復習を追加する</a>
</p>
<p>また、各一覧画面ではRSSを購読可能です。</p>
<p>特に「今日の復習」をお好きなRSSリーダで購読しておくと便利です。</p>
<h2><a name="label-6" id="label-6">注意事項</a></h2><!-- RDLabel: "注意事項" -->
<p>登録した復習内容は全てのユーザが閲覧可能です．</p>
<p>人に見られたくないような内容は絶対に登録しないでください．</p>
<p>例えば，パスワードや銀行の暗証番号などです．</p>
<h2><a name="label-7" id="label-7">新規アカウント作成</a></h2><!-- RDLabel: "新規アカウント作成" -->
<p>当サイトではOpenIDでのみユーザ認証を行っています。</p>
<p>以下サイトのOpenIDで動作を確認しています。</p>
<ul>
<li><a href=" http://mixi.jp/">mixi</a></li>
<li><a href=" http://auth.livedoor.com/openid/">livedoor</a></li>
<li><a href=" http://www.openid.ne.jp/">openid.ne.jp</a></li>
<li><a href=" http://www.hatena.ne.jp/info/openid">はてな</a></li>
</ul>
<p>OpenIDを所有していない人は上記のいずれかのサイトでアカウントを新規に作成してください。</p>
<p>OpenIDの作成方法や、仕組みついてはこちらをご覧ください。</p>
<p><a href=" http://www.openid.ne.jp/">OpenID.ne.jp</a></p>
<h2><a name="label-8" id="label-8">お問い合わせ</a></h2><!-- RDLabel: "お問い合わせ" -->
<p>感想や要望などはauthorNari at gmail.comにメールしてください。</p>
<p>作者は<a href=" http://d.hatena.ne.jp/authorNari/">nari</a>です。</p>
<p>ソースコードはこちらで公開しています(<a href=" http://github.com/authorNari/brushup/">brushup - Github</a>)</p>

  </div>
</div>
