<div class="sidebar">
  <div class="tags">
    <div class="title">
      <h3><%= t(:tag, :scope => [:railties]) %> </h3>
    </div>
    <div class="body">
      <% tag_cloud Reminder.tag_counts, %w(tag-very-many tag-many tag-normal tag-light) do |tag, css_class| %>
      <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
      <% end %>
    </div>
  </div>
</div>
