input.openid-url {
  width: 260px;
  background-image: url(../images/login-bg.gif);
  background-repeat: no-repeat;
  padding-left: 18px;
}

body, h1, h2, h3, h4, h5, h5, ul, ol, li, dl, dt, dd, form, input, select, blockquote {
  -x-system-font:none;
  font-family:"Arial","Helvetica",sans-serif;
  font-size:100%;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.4;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
}

.explain ul, .explain li,
 .errorExplanation ul, .errorExplanation li {
  margin-left: 20px;
  list-style-type:circle;
}

a {
  color:#0000DD;
}

a:visited {
  color:#883388;
}

h2 {
/*  display:inline; */
  font-size:1.7em;
  font-weight:bold;
}

.tag-very-many {
  font-size: 1.6em;
}

.tag-many {
  font-size: 1.4em;
}

.tag-normal {
  font-size: 1.2em;
}

.tag-light {
  font-size: 1.0em;
}


/* refereced by hatena bookmark */
#forget-header {
  background: #FFFFFF none repeat scroll 0 0;
  color: #222222;
  padding:20px 26px 0 30px;
}

#forget-body {
  border-top:1px solid #57B3E0;
  margin:-1px 0 0;
  overflow:hidden;
  padding:0 290px 10px 10px;
}

#forget-body-not-sidebar {
  border-top:1px solid #57B3E0;
  margin:-1px 0 0;
  overflow:hidden;
  padding:0 10% 10px 10px;
}

#annotation {
  background:#F9F9F9 none repeat scroll 0 0;
  padding:0px 0px 0px 25px;
}

#header {
  background:#57B3E0 none repeat scroll 0 0;
  color:#FFFFFF;
  font-size:1em;
  height:1.8em;
  padding:2px 2px 0 6px;
}

#header ul {
  float:right;
  vertical-align:bottom;
}

#header ul li {
  display:inline;
  font-size:80%;
  margin:0 10px 0 0;
  vertical-align:middle;
}

#header h1 {
  float:left;
  height:35px;
  left:9px;
  padding-left:9px;
  top:0;
  width:143px;
}

ul.menu {
  font-size:90%;
  margin-top:35px;
  overflow:hidden;
  position:relative;
}

ul.menu li {
  float:left;
  border: 1px solid #57B3E0;
  background-color: #57B3E0;
  font-size:90%;
  margin-right:6px;
  padding-left:4px;
}

ul.menu li a {
  display:block;
  padding:5px 10px 5px 6px;
  text-decoration:none;
  color:#FFFFFF;
}

ul.menu li.current-menu {
  background-color: #FFFFFF;
  background-position:left 0;
  border-bottom:1px solid #FFFFFF;
}

ul.menu li.current-menu a {
  background-position:right 0;
  color:#333333;
  font-weight:bold;
}

div.sidebar {
  float:left;
  font-size:90%;
  margin-right:-350px;
  margin-top:20px;
  position:relative;
  right:0;
  top:0;
  width:220px;
}

div.sidebar div.clearness-box {
  line-height:1.5em;
  margin-bottom:10px;
  padding:6px;
  margin:0 0 15px;
  padding-bottom:5px;
}

div.sidebar div.box {
  background-color:#F6F6F6;
  border:1px solid #E4E4E4;
  color:#505050;
  line-height:1.5em;
  margin-bottom:10px;
  padding:6px;
  margin:0 0 15px;
  padding-bottom:5px;
}

div.sidebar h3 {
  border-bottom:1px solid #BBBBBB;
  color:#444444;
  font-size:16px;
  margin:0 0 10px;
  padding:2px 10px 1px 0;
}

div.sidebar div.title {
  
}

div.sidebar div.body {
  color:#505050;
  line-height:1.5em;
}

div#forget-body div.main,
div#forget-body-not-sidebar div.main
{
  background:#FFFFFF none repeat scroll 0 0;
  float:left;
  margin:0 0 0 0;
  padding:20px 20px 0;
  width:100%;
}

div#forget-body div.main ul.show,
div#forget-body-not-sidebar div.main ul.show
{
  overflow:hidden;
  padding-left:20px;
}

div#forget-body div.main ul.show li.show,
div#forget-body-not-sidebar div.main ul.show li.show
{
  clear:both;
  margin:0 0 1.8em;
}

div#forget-body div.main div.show,
div#forget-body-not-sidebar div.main div.show
{
  border:1px solid #57B3E0;
  padding: 7px;
  clear:both;
  color:#505050;
}

div#forget-body div.main div.show-title h2,
div#forget-body-not-sidebar div.main div.show-title h2
{
  font-size:1.5em;
}

div#forget-body div.main div.show-title h2 a,
div#forget-body-not-sidebar div.main div.show-title h2 a
{
  color:#000000;
  text-decoration:none;
}

div#forget-body div.main div.show td.link,
div#forget-body-not-sidebar div.main div.show td.link
{
  padding-right: 15px;
}

div.controll_left {
  float: left;
  margin-right: 4px;
}

a.not_effect {
  color: white;
  text-decoration: none;
}

div#forget-explain-body {
  background:#FFFFFF none repeat scroll 0 0;
  padding:20px 20px 0;
  margin: 0 auto;
  width: 60em;
}

div#forget-explain-body div.explain h2 {
  font-size:1.5em;
  border-bottom:1px solid #57B3E0;
}

div#forget-explain-body div.explain h2 a {
  color: black;
}

div#logo {
  text-align: center;
}

.bookmarkleticon {
  background:transparent url(../images/bookmarkleticon.png) no-repeat scroll 0 50%;
  padding: 15px 0 15px 50px;
}

/* for formatter */
.show-body h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.show-body h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.show-body h3 {
  font-size: 1.3em;
  font-weight: bold;
}

.show-body h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.show-body h5 {
  font-size: 1.1em;
  font-weight: bold;
}

.show-body h6 {
  font-size: 1em;
  font-weight: bold;
}

.show-body ul li {
  font-size: 1em;
  list-style: square;
  margin: 5px 30px;
  padding: 0px;
}

.show-body ol li {
  font-size: 1em;
  list-style: decimal;
  margin: 5px 30px;
  padding: 0px;
}

.show-body blockquote {
  border: 1px solid #57B3E0;
  padding-left: 5px; 
}

.show-body cite {
  background-color: #DFF5FF;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:5px;
  margin:5px;
}

.show-body pre {
  background-color: #F0F0F0;
  margin: 1em 0;
  padding: 1em;
}

div#crumbs {
  text-align: left;
  padding: 10px 0 10px 25px;
  font-size: 90%;
}

div.float-clear {
  clear: both;
}

textarea#reminder_body {
  width: 100%;
}
